@import "bootstrap/scss/functions";

// Base colors
$blue: #2453FF;
$yellow: #FFC107;
$red: #DC3545;
$gray-500: #adb5bd;
$gray-900: #686565;

// Primary colors
$pine-green: #0C322C;
$jungle-green: #30BA78;

// Secondary colors
$midnight-blue: #192072;
$waterhole-blue: #2453FF;

// Tertiary Colors
$mint: #90EBCD;
$persimmon: #FE7C3F;
$fog: #EFEFEF;

// Shades
$waterhole-blue-100: tint-color($waterhole-blue, 80%);
$waterhole-blue-200: tint-color($waterhole-blue, 60%);
$waterhole-blue-300: tint-color($waterhole-blue, 40%);
$waterhole-blue-400: tint-color($waterhole-blue, 20%);
$waterhole-blue-500: $waterhole-blue;
$waterhole-blue-600: shade-color($waterhole-blue, 20%);
$waterhole-blue-700: shade-color($waterhole-blue, 40%);
$waterhole-blue-800: shade-color($waterhole-blue, 60%);
$waterhole-blue-900: shade-color($waterhole-blue, 80%);

$pine-green-100: tint-color($pine-green, 80%);
$pine-green-200: tint-color($pine-green, 60%);
$pine-green-300: tint-color($pine-green, 40%);
$pine-green-400: tint-color($pine-green, 20%);
$pine-green-500: $pine-green;
$pine-green-600: shade-color($pine-green, 20%);
$pine-green-700: shade-color($pine-green, 40%);
$pine-green-800: shade-color($pine-green, 60%);
$pine-green-900: shade-color($pine-green, 80%);

// By usage
$primary: $jungle-green;
$secondary: $midnight-blue;
$tertiary: $fog;
$success: $mint;
$info: $waterhole-blue-100;
$warning: $yellow;
$danger: $red;
$light: $fog;
$dark: $gray-900;
$calltoaction: $pine-green;
$link-color: $blue;
$badge-color: $gray-500;

$suse-theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "tertiary":   $tertiary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "cta":        $calltoaction,
  "herocta":    $persimmon
);

.bg-navbar {
  background-color: $pine-green;
}

.bg-pine {
  background-color: $pine-green-400;
}
