@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Roboto+Mono:wght@300&display=swap');

$font-poppins: 'Poppins', 'Verdana', sans-serif;
$font-roboto-mono: 'Roboto Mono', monospace;

$font-family-sans-serif: $font-poppins;
$font-family-monospace: $font-roboto-mono;

$small-font-size: .74em;
$sub-sup-font-size: .64em;